.rateproduct_main {
  max-width: 600px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.rateproduct_outer {
  background: var(--card_gradient);
  padding: 20px;
  border-radius: 12px;
}

.rateproduct_title h3 {
  margin-bottom: 10px;
  color: var(--text_color)
}

.rateproduct_stars {
  display: flex;
  gap: 8px;
  margin-bottom: 15px;
}

.rate_star {
  font-size: 28px;
  color: #d0cdcd;
  cursor: pointer;
  transition: color 0.2s;
}

.rate_star.highlighted {
  color: #f5c518;
}

.rateproduct_comments textarea {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  background: var(--bg-color);
  border: none;
  color: #fff;
  resize: none;
  margin-bottom: 15px;
}

.rateproduct_images {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.rateproduct_image_wrapper {
  position: relative;
}

.rateproduct_image {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
}

.remove_image_icon {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #ff0000;
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  color: #fff;
}

.upload_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: var(--bg-color);
  border-radius: 10px;
  cursor: pointer;
  color: var(--text_color);
  font-size: 12px;
}

.rateproduct_btn {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
