@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Light Mode (default) */
/* Prevent horizontal scroll globally */
html, body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global */
*,
*::before,
*::after {
  box-sizing: border-box; /* Only box-sizing, no bg */
}

/* Body background */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}


:root {
    --color1: #FD5901;
    --color2: #F78104;
    --color3: #FAAB36;
    --color4: #249EA0;
    --color2_shadow: #fdb57b8f; /* Adjust for better contrast */
    --color5_shadow: #a1eff1a0; /* Adjust for better contrast */
    --color5: #008083;
    --color6: #005F60;
    --desc_color: #6f6f6f;
    --bg-color: #ffffff;
    --text-color: #000000;
    --text2-color: #5a5e5ec3;
    --box_shadow: 0 2px 5px rgba(11, 11, 11, 0.14);
    --card_text_new: #005F60;
    --border: 1px solid #ccc;
    --card_gradient: linear-gradient(to bottom right, #eff3f3, #edf1f1);

}

/* Dark Mode */
[data-theme="dark"] {
    --color1: #FD5901; /* Keep accent colors same or adjust */
    --color2: #F78104;
    --color3: #FAAB36;
    --color4: #249EA0;
    --color5: #00CCCC; /* Adjust for better contrast */
    --color2_shadow: #b3672846; /* Adjust for better contrast */
    --color5_shadow: #004242; /* Adjust for better contrast */
    --color6: #009999;
    --desc_color: #bfbfbf;
    --bg-color: #121212;
    --text-color: #ffffff;
    --text2-color: #d4d0d0c3;
    --box_shadow: 0 8px 28px rgba(7, 7, 7, 0.42);
    --card_text_new: #d4d0d0c3;
    --border: 1px solid #333;
   --card_gradient: linear-gradient(to top right, #282d2d, #161d1e);
}

body{
    font-family: Montserrat;
}

/* Card shadow class - use this for all cards */
.card-shadow {
    box-shadow: var(--box_shadow);
}


.primary-btn{
    background: linear-gradient(45deg, #025d60, #009fa4, #025d60);
    border-radius: 100px;
    border: 2px solid var(--color5);
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    transition: all .3s ease-in-out!important;
    box-shadow: 0px 8px 10px 0px var(--color5_shadow);
}

.primary-btn:hover{
    box-shadow: 0px 5px 10px 5px var(--color5_shadow);
}


.primary-btn2{
    background-color: transparent;
    background: linear-gradient(45deg, #e67702, #f18008, #e67702)!important;
    border-radius: 100px;
    border: 2px solid var(--color2);
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 8px 10px 0px var(--color2_shadow);
    transition: all .3s ease-in-out;
}

.primary-btn2:hover{
    background-color: var(--color2);
    color: white;
}
