/* ===============================
FORGOT PASSWORD MAIN CONTAINER
=============================== */
.forgot_password_main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--bg-color);
  font-family: 'Inter', sans-serif;
  padding: 20px;
}

/* ===============================
FORGOT PASSWORD BOX
=============================== */
.forgot_password_box {
  display: flex;
  width: 900px;
  background: #fff;
  border-radius: 15px;
  box-shadow: var(--box_shadow);
  overflow: hidden;
}

/* ===============================
LEFT SIDE FORM
=============================== */
.forgot_password_left {
  flex: 1 1 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  background: var(--card_gradient);
}

.forgot_password_left h2 {
  margin-bottom: 10px;
  font-size: var(--font-size-title);
  color: var(--text-color);
}

.forgot_password_subtitle {
  margin-bottom: 30px;
  color: var(--text2-color);
  font-size: var(--font-size-small);
}

.forgot_password_left input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: var(--font-size-small);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.forgot_password_left input:focus {
  border-color: #007bff;
  outline: none;
}


/* ===============================
BACK TO LOGIN LINK
=============================== */
.forgot_password_signup {
  margin-top: 20px;
  font-size: var(--font-size-small);
  color: var(--color6)
}

.forgot_password_signup span {
  color: #007bff;
  cursor: pointer;
}

/* ===============================
RIGHT SIDE IMAGE
=============================== */
.forgot_password_right {
  flex: 1 1 50%;
  overflow: hidden;
}

.forgot_password_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ===============================
OTP INPUT
=============================== */
.otp_container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.otp_input {
  width: 45px;
  height: 50px;
  font-size: var(--font-size-h3);
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.otp_input:focus {
  border-color: #007bff;
  outline: none;
}

/* ===============================
RESPONSIVE
=============================== */
@media (max-width: 900px) {
  .forgot_password_box {
    flex-direction: column;
    width: 100%;
  }

  .forgot_password_right {
    height: 200px;
  }
}
