

/* ==========================
   MAIN CONTAINER
========================== */
.signup_main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-color);
}

/* ==========================
   SIGNUP BOX
========================== */
.signup_box {
  width: 900px;
  height: 600px;
  display: flex;
  box-shadow: var(--box_shadow);
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
}

/* ==========================
   LEFT SIDE (FORM)
========================== */
.signup_left {
  flex: 1 1 50%; /* 50% width */
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--card_gradient);
}

.signup_left h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--text-color);
}

.signup_subtitle {
  font-size: 16px;
  color: var(--text2-color);
  margin-bottom: 30px;
}

/* INPUT FIELDS */
.signup_fields input {
  width: 100%;
  padding: 14px 16px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: border 0.3s, box-shadow 0.3s;
  background-color: var(--bg-color);
    color: var(--text-color);
}

.signup_fields input:focus {
  border-color: var(--color6);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

/* CHECKBOX / TERMS */
.signup_options {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
}

.signup_options .agree_terms input {
  margin-right: 5px;
  cursor: pointer;
}



/* LOGIN REDIRECT TEXT */
.signup_login {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: var(--text2-color);
}

.login_link {
  color: var(--color6);
  cursor: pointer;
}

.login_link:hover {
  text-decoration: underline;
}

/* ==========================
   RIGHT SIDE IMAGE
========================== */
.signup_right {
  flex: 1 1 50%; /* 50% width */
  overflow: hidden;
}

.signup_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.otp_container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.otp_input {
  width: 45px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.otp_input:focus {
  border-color: #007bff;
  outline: none;
}

/* ==========================
   RESPONSIVE
========================== */
@media (max-width: 1024px) {
  .signup_box {
    width: 700px;
    height: 500px;
  }
}

/* ==========================
   SMALL MOBILE FIX
========================== */
@media (max-width: 750px) {
  .signup_box {
    flex-direction: column;
    width: 100%;
    height: 100vh; /* full screen height */
    border-radius: 0;
    box-shadow: none;
  }

  .signup_left {
    flex: 1 1 100%; /* full width */
    padding: 40px 20px;
    border-radius: 0;
    background: var(--card_gradient); /* full background */
  }

  .signup_right {
    display: none; /* hide the image */
  }
}

